<div class="row bump">

    <div class="small-12 large-12 columns">

        <!-- this adds Foundation Icon Fonts!! -->

        <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet"/>


        <div class="row">
            <div class="medium-8 medium-centered columns">

                <div class="profile-card">

                    <img alt="Author" data-th-src="${portal.imageUrl({'_id=' + picture, '_scale=width(200)'})}"/>

                    <div class="profile-info">

                        <h2 data-th-text="${subheader}" class="subheader">Accessibilityagent</h2>

                        <div data-th-utext="${portal.processHtml({'_value='+ about})}"></div>

                        <ul class="inline-list">

                            <li data-th-if="${linkedin}"><a alt="Visit me on LinkedIn test" data-th-href="${linkedin}"><i class="fi-social-linkedin"></i></a></li>

                            <li data-th-if="${facebook}"><a data-th-href="${facebook}"><i class="fi-social-facebook"></i></a></li>

                            <li data-th-if="${twitter}"><a data-th-href="${twitter}"><i class="fi-social-twitter"></i></a></li>

                            <li data-th-if="${github}"><a data-th-href="${github}"><i class="fi-social-github"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>