<section data-th-attr="data-portal-component-type=${component.type}">
    <h2>Links</h2>
    <ul class="item" data-th-each="link : ${links}">
        <li data-th-text="${link}">A link will appear here.</li>
    </ul>
</section>