<div class="guidelines"
     data-th-attr="data-portal-component-type=${component.type}">

    <div data-th-each="guideline : ${guidelines}"
          itemprop="article" itemtype="http://schema.org/Article"
          class="guideline">
        <div data-th-remove="tag" data-th-utext="${guideline.body}"/>
    </div>
</div>
