<div class="row">
    <div data-portal-region="center" class="large-12 columns">
        <div data-th-each="component : ${centerRegion.components}" data-th-remove="tag">
            <div data-portal-component="${component.path}" data-th-remove="tag" />
        </div>
    </div>
</div>