<div class="row">
    <div data-portal-region="leftRegion" class="large-3 columns">
        <div data-th-each="component : ${leftRegion.components}" data-th-remove="tag">
            <div data-portal-component="${component.path}" data-th-remove="tag" />
        </div>
    </div>

    <div data-portal-region="rightRegion" class="large-9 columns" >
        <div data-th-each="component : ${rightRegion.components}" data-th-remove="tag">
            <div data-portal-component="${component.path}" data-th-remove="tag" />
        </div>
    </div>
</div>