#skip-to-main-content a
{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

#skip-to-main-content a:focus
{
    position:static;
    width:auto;
    height:auto;
}
.screen-reader-text{
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    top: 5px;
    left: 5px;
    z-index: 100000;
    clip: auto !important;
    display: block;
    width: auto;
    height: auto;
    padding: 10px 23px 10px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    line-height: normal;
    color: white;
    background-color: #333333;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}
