
body * {
    /*font-family: 'Droid Sans', sans-serif;*/
    font-family: museo_sans500;
    /*font-weight: 100;
    font-style: normal;*/
    /*line-height: 170%;*/
}
.top-nav {
    background-color: #494949;
    text-transform: uppercase;
}
.top-nav a {
    margin-left: 25px;
    color: #fff;
}
.top-nav a:link {
    color: #fff;
}
.top-nav a:visited {
    color: #fff;
}
.top-nav a:hover {
    color: #A6A6AA;
}
.top-nav a:active {
    color: #FFF;
}


section.blogentryList{

}
article.blogentry{

}
article.blogentry header{

}
article.blogentry footer{

}
article.blogentry div.blogentryPreface {
    margin: 0;
    padding: 1.5em 25px 0 25px;
    font-weight: bold;
}
article.blogentry div.blogentryText {
    margin: 0;
    padding: 1.5em 25px 0 25px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

figure.code figcaption{
    margin-top: 1em;
}
figure.code figcaption dl, figure.code figcaption dt, figure.code figcaption dd{
    margin-bottom: 0;
}


figure.code figcaption dl dt{
    font-size: .75em;
    font-weight: bold;
    margin-right:0.35em
}

@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
    figure.code{
        margin-left:0;
    }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

#accessibilityagent h1 {
    font-size: 2rem; }

#accessibilityagent h2 {
    font-size: 1.45rem; }

#accessibilityagent h3 {
    font-size: 1.3rem; }

#accessibilityagent h4 {
    font-size: 1.15rem; }

#accessibilityagent h5 {
    font-size: 1rem; }

#accessibilityagent h6 {
    font-size: 1rem; }

/*img[src*="static.accessibilityagent.no"] {
    margin-left:50%;
    margin-right:50%;
}*/


#accessibilityagent .no-js-menuitem a:not(.button){
    padding:0;
    font-size:smaller;
}

*[aria-hidden=true] {visibility: hidden;display:none}




#accessibilityagent h1.accessibilityagent-header{
    text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
    font-size: 1.5rem;
    margin-left:42px;
}

#main h1:hover>a.aa-anchor, #main h1>a.aa-anchor:hover, h2:hover>a.aa-anchor, h2>a.aa-anchor:hover, h3:hover>a.aa-anchor, h3>a.aa-anchor:hover, h4:hover>a.aa-anchor, h4>a.aa-anchor:hover, h5:hover>a.aa-anchor, h5>a.aa-anchor:hover, h6:hover>a.aa-anchor, h6>a.aa-anchor:hover {
    visibility: visible;
}

#main h1>a.aa-anchor, h2>a.aa-anchor, h3>a.aa-anchor, h4>a.aa-anchor, h5>a.aa-anchor, h6>a.aa-anchor {
    position: absolute;
    z-index: 1001;
    width: 1.5ex;
    margin-left: -1.5ex;
    display: block;
    text-decoration: none!important;
    visibility: hidden;
    text-align: center;
    font-weight: 400;
}

#main h1>a.aa-anchor:before, h2>a.aa-anchor:before, h3>a.aa-anchor:before, h4>a.aa-anchor:before, h5>a.aa-anchor:before, h6>a.aa-anchor:before {
    content: "\00A7";
    font-size: .85em;
    display: block;
    padding-top: 0.1em;
    font-family: sans-serif;
    color:rgb(29, 75, 143);
}

#accessibilityagent a{
    color: #0077B5
}

#accessibilityagent .guideline a {
    text-decoration: underline;
}