#accessibilityagent #main-menu li a {
    color: rgba(255, 255, 255, 0.7)
}

#accessibilityagent .no-js-menu li{
    list-style-type: none;
    list-style-position: outside;
}

#accessibilityagent .tab-bar .menu-icon{
    width: 5.5rem;
    background-color:#0077B5;
}


.left-off-canvas-menu, .right-off-canvas-menu{
    height: 100vh;
}

.left-off-canvas-menu .aa-submenuitem{
    font-size:0.85rem;
}

.left-off-canvas-menu .aa-labelmenuitem{
    text-transform: uppercase;
    font-size:0.9rem;
}

.nojs-left-off-canvas-menu ul{
    display:block;
    background-color:black;
    padding-left:20px;
}
.nojs-left-off-canvas-menu ul li{
    padding:0;
    margin:0;
}
.nojs-left-off-canvas-menu ul li a{
    padding:0;
    margin:0;
}
