<div data-th-each="outerCodeblock : ${codeblocks}">
    <div data-th-each="codeblock : ${outerCodeblock.data.codeblock}">
    <div data-th-if="${codeblock.info!=null}" data-th-remove="tag">
        <h3 data-th-if="${!#strings.isEmpty(codeblock.info.heading)}" data-th-utext="${codeblock.info.heading}"/>
        <p data-th-utext="${codeblock.info.preface}" data-th-if="${!#strings.isEmpty(codeblock.info.preface)}"/>
    </div>

        <small class="error" data-th-if="${not #strings.isEmpty(codeblock.errorMessage)}" data-th-text="${codeblock.errorMessage}"/>
        <figure class="code" data-th-if="${codeblock.codeRay}">
            <div data-th-utext="${codeblock.codeRay}" data-th-remove="tag"/>
            <figcaption>
                <dl data-th-if="${codeblock.codecomment!=null}" data-th-each="codecomment: ${codeblock.codecomment}">
                    <dt class="left round secondary label" data-th-text="${codecomment.line}"/>
                    <dd tabindex="0" data-th-utext="${codecomment.comment}"/>
                </dl>
            </figcaption>
        </figure>
        <figure class="code" data-th-if="${!codeblock.codeRay and codeblock.code}">
            <pre data-th-text="${codeblock.code}"/>
        </figure>
        <div data-th-if="${codeblock.appendix!=null}" data-th-remove="tag">
            <p data-th-utext="${codeblock.appendix}" data-th-if="${codeblock.appendix}"/>
        </div>
    </div>
</div>