<div class="guideline">
    <h1 data-th-id="${guideline._name}" data-th-if="${!#strings.isEmpty(guideline.data.heading)}">
        <!--<a data-th-alt="${guideline.data.heading}" class="aa-anchor" data-th-href="${'#'+ guideline._name}"/>-->
        <span data-th-utext="${guideline.data.heading}" data-th-remove="tag"/>
    </h1>

    <span data-th-remove="tag" data-th-each="type : ${guideline.data.type}"
          data-th-if="${guideline.data.type!=null}">
        <span class="secondary radius label" data-th-text="${type}" data-th-href="${portal.pageUrl(
        {'_path=' + '/accessibilityagent/guidelines'})}"/>
    </span>
    <span data-th-remove="tag" data-th-each="targetAudience : ${guideline.data.targetAudience}"
          data-th-if="${guideline.data.targetAudience!=null}">
        <span class="secondary radius label" data-th-text="${targetAudience}"/>
    </span>

    <span data-th-remove="tag" data-th-each="tag : ${guideline.data.tags}"
          data-th-if="${guideline.data.tags!=null}">
        <span class="secondary radius label" data-th-text="${tag}"/>
    </span>

    <p class="guideline" data-th-utext="${guideline.data.preface}"/>

    <span data-th-remove="tag" data-th-each="paragraph : ${guideline.data.paragraphs}">
        <div data-th-remove="tag" data-th-if="${paragraph.text}" data-th-utext="${portal.processHtml({'_value='+paragraph.text})}"/>
        <div data-th-each="codeblocks : ${paragraph.codeblocks}">
            <div data-th-utext="${portal.processHtml({'_value='+codeblocks.body})}"/>
        </div>
    </span>
</div>
